#======================================
# Directories
#--------------------------------------
coverage/
dist/
node_modules/
out-tsc/
tmp/


#======================================
# Extensions
#--------------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#======================================
# IDE generated
#--------------------------------------
.idea/
.project
*.iml


#======================================
# System generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db
