@import
"settings";

@import
"~minx/src/settings",
"~minx/src/functions",
"~minx/src/mixins",
"~minx/src/reset",
"~minx/src/elements";

@import
"grid";


[hidden] {
  display: none !important;
}

::selection {
  background: rgba(200,200,255,.1);
}
